@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
}

.btn-primary{
    background-color: #FD6E0A;
    font-family: open sans;
    font-weight: 700;
    color: #ffff;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav-title{
    font-family: Open Sans;
    font-size: 30px;
    font-weight: 800;
    line-height: 61px;
    letter-spacing: 0%;
}
.text-color{
    color: #FD6E0A;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    color: rgb(71, 71, 71);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
}

